.container{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 20px;
}
.list{
    list-style: none;
}
.list{
    text-decoration: none;
    background-color: rgb(59, 8, 241);
    padding: 10px;
    border-radius: 10px;
    color: rgb(201, 139, 40);

}
.link:hover{

}